@page
@model CarBookingApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Cars</h1>

<p>
    <a class="btn btn-primary" asp-page="Create"><i class="fa-solid fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr> 
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Year)
            </th>
             <th>
                 @Html.DisplayNameFor(model => model.Cars[0].Make.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].CarModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Colour.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel.Name)
            </td>
                       <td>
                @Html.DisplayFor(modelItem => item.Colour.Name)
            </td>
            <td>

                @await Html.PartialAsync("_IndexButtonsPartial",item.Id)
                    <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash-can"></i>
                     Delete   </a>
            </td>
        </tr>
}
    </tbody>
</table>
@*<form id="deleteform" asp-page-handdler="delete"method="post">
    <input type="hidden" name="carid" id="carid"/>
    </form>
@section Scripts{
    <script>
      $(function () {

          $('.deleteBtn').onclick(function (e) {
              swal({
                 title: "Are you sure?",
                 text "Are you sure you want to delete this?",
                 icon "warning",
                 buttons:true,
                 dangerMode: true,
              }).then((confirm) => {
                     if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#carid').val(id);
                        $('#deleteform').submit();
                     }
              });
          });
      });
    </script>

}*@